#fedisurf {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  padding: 15px;
  border-radius: 5px;
  background-color: #282c38;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  z-index: 99;
  overflow: hidden;
  transition: width 0.5s ease;
}

#fedisurf:hover {
  width: 250px;
}

#fedisurf ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#fedisurf ul li {
  display: block;
  width: 100%;
  height: 30px;
}

#fedisurf ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
